# Question:1

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True

In [39]:
####converting num to string
def is_symmetrical(num):
    num = str(num)
    if num == num[::-1]:
        print(f'{num} is palindrome')
    else:
        print(f'{num} is not a palindrome')

In [41]:
is_symmetrical(123)

123 is not a palindrome

In [42]:
is_symmetrical(121)

121 is palindrome

In [36]:
#without converitng num to string
def is_symm_orNot(num):
    
    temp=num
    rev=0
    while(num>0):
        dig=num%10
        rev=rev*10+dig
        num=num//10
    if(temp==rev):
        print(f'{temp} is palindrome')
    else:
        print(f'{temp} is not a palindrome')

In [44]:
is_symm_orNot(123)

123 is not a palindrome

# Question:2

Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6

multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24

In [94]:
def multiply_nums(string):
    
    s = string.replace(' ','').split(",")
    mul = 1
  
    for i in s:
        mul = mul*int(i)
    return mul

In [98]:
multiply_nums("1,   5, 6")

30

In [99]:
s

['1', '2', '3']

In [75]:
string = '1,2,3'
s = string.replace(' ','').split(",")
mul = 1
for i in range (1,len(s)+1):
    mul = mul*i

In [100]:
mul

6

# Question:3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

In [130]:
def square_digit(num):
    l =[]
    s = str(num)
    for i in s:
        b =int(i)
        sq = (b**2)
        l.append(sq)
    for i in l:
        print(i,end = '')

In [132]:
square_digit(948)

811664

In [135]:
square_digit(9119)

811181

# Question:4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

In [191]:
def sorted_list(inp_list):

    list_final = []

    for i in set(inp_list):
        list_final.append(i)
        list_final.sort()
    return list_final

In [193]:
sorted_list([1,2,3,3,88,5,99,5,99,1000,0])

[0, 1, 2, 3, 5, 88, 99, 1000]

In [176]:
l = [1,3,3,5,5,99]
l.sort()
l_final = []

for i in set(list(l)):
    l_final.append(i)
    l_final

In [177]:
l_final

[99, 1, 3, 5]

# Question:5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

In [209]:
def mean_of_digits(num):
    s = str(num)
    add = 0
    for i in s:
        add = add+int(i)
        m = add/(len(s))
    print(f'Mean of {num} is {m}')

In [216]:
mean_of_digits(42)

Mean of 42 is 3.0

In [217]:
mean_of_digits(12345)

Mean of 12345 is 3.0